* {

  margin: 0;
  padding: 0;
  border: 0;

}

.Items {
  display: flex;
  justify-content: space-around;
}

.Time {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 3em;
}

img {
  height: 100%;
}

.current{
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.previous {
  width: 150px;
  height: 150px;
  background-color: #ff0000;
  position: absolute;
  left: 0px;
  top: 50%;

}

.next {
  position: absolute;
  background-color: #0004ff;
  width: 150px;
  height: 150px;
  right: 0px;
  top: 50%;
}

.itemExplorer {
  height: 100%;
  background-color: #ffc0cb;
  position: relative;
}

.about {
  text-align: right;
  font-size: 1.5em;
}