* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: pink;
}

#root {}

.App {}

.Time {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 3em;
  background-color: white;
}

.itemExplorer {
  background-color: #ffc0cb;
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.currentImage {
  margin: 20px;
  margin-left: 170px;
}

.current {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  width: 100vw;
}

.previous {
  width: 150px;
  height: 150px;
  background-color: #ff0000;
  position: absolute;
  left: 0px;
  top: 50%;
}

.next {
  position: absolute;
  background-color: #0004ff;
  width: 20vh;
  height: 20vh;
  right: 0px;
  top: 50%;
}

img {
  height: 100%;
}

.about {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}
.Chess{
  
}

.Board {
  display: flex;
  width: 95vw;
  height: 95vh;
}

.Coordiantes {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  text-align: left;
  display: flex;
}

.Files {
  text-align: left;
  display: flex;
}

.Ranks {

  text-align: left;
  display: inline;

}


.whiteCell {
  background-color: white;
  width: 100px;
  height: 100px;
}

.blackCell {
  background-color: black;
  width: 100px;
  height: 100px;
}



.File {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  text-transform: capitalize;
}

.Rank {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  margin: 7vh 0vh 0vh 0vh;

}