* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: pink;
}

.Time {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 3em;
  background-color: white;
}

.itemExplorer {
  background-color: #ffc0cb;
  position: relative;
  display: inline;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.currentImage{
  margin: 20px;
  margin-left: 170px;
}
.current{
  display: flex;
  justify-content: space-between; 
}

.previous {
  width: 150px;
  height: 150px;
  background-color: #ff0000;
  position: absolute;
  left: 0px;
  top: 50%;
}

.next {
  position: absolute;
  background-color: #0004ff;
  width: 150px;
  height: 150px;
  right: 0px;
  top: 50%;
}

img {
  height: 100%;
}

.about{
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  width: 500px;
  margin: auto;
}