* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;

  margin: 0;
  padding: 0;
}

.App{
  background-color: rgb(248, 131, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.favicon{

  color:pink;
  background-color: pink;
}

.PieceContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;

}

.wPiece{

  filter:invert(100%);
  height: 100%;
  border: 2px solid white;
}

.bPiece{

}

.a{
  color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  background-color: blue;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.b{
  color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  background-color: red;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.Board {
  display: flex;
  justify-content: center;
}

.Coordinates {
  position: relative;
  right: 0;
  background-color: transparent;
}

.Ranks {

  position: absolute;
  background-color: transparent;
  left: -30px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Files {
  position: absolute;
  bottom:  -30px;
  width: 80vh;  
  display: flex; 
  justify-content: space-around;

}

.Rank {

  background-color: transparent;
}

.File {



}

.whiteCell {
  width: 10vh;
  height: 10vh;
  background-color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackCell {
  width: 10vh;
  height: 10vh;
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}